@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Mono";
  min-height: 100vh;
  background-color: #8e44ad;
  color: #fff;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 50px;
  align-items: center;
  text-align: center;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
}

@media screen and (max-width: 580px) {
  body {
    flex-direction: column;
  }
}
